$primary-fg-color: #fafafa;
$primary-bg-color: #111111;
$secondary-bg-color: #111111;

$button-fg-color: #111111;
$button-bg-color: #fafafa;

$accent-color: #53af6e;
$alt-text-color: #53af6e;
$footer-text-color: #000000;

$gallery-bg-color: #232323;
$gallery-overlay-bg-color: #000000d0;

$github-hover-color: #6e5494;

@import "../color-map-dark";
