//-- Fine-tuning --
$tagline-color: $primary-fg-color;

$button-fg-color: $button-fg-color;

$full-nav-bg-color: $primary-bg-color;
$full-nav-fg-color: $primary-fg-color;

// The links have some shadow effect. It usually makes sense to leave this as is.
$link-shadow-color: $secondary-bg-color;

$gallery-bg-color: $gallery-bg-color;
$gallery-modal-bg-color: $gallery-bg-color;
$gallery-overlay-bg-color: $gallery-overlay-bg-color;
$gallery-overlay-title-color: $primary-fg-color;
$gallery-overlay-subtitle-color: $alt-text-color;
$gallery-modal-close-color: $primary-fg-color;

$footer-bg-color: $primary-fg-color;
$footer-icon-color: $primary-bg-color;
$footer-text-color: $footer-text-color;
